@font-face {
  font-family: 'customFont';
  src: url('/css/fonts/panton.light-caps.otf');
}

body {
  background: black;
  font-family: 'customFont';
 
}

.videoContainer {
  position: relative;
  padding-bottom: 56.26%;
  padding-top: 40px;
  height: 0;
  overflow: hidden;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

nav.navbar{
  background: #d7f9f1;
}

.navbar-btn.btn.btn-default.drift{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  
}
